html,body,div {
  height: 100%; 
  background-color: #1d1d1d;
 
 }
 
 div {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .btn {
   position: relative;
   background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
   background-size: 400% 100%;
   text-transform: uppercase;
   font-weight: 700;
   border: none;
   border-radius: 0.25em;
   font-size: 13px;
   letter-spacing: 1px;
   padding: 0;
   margin: 0;
   animation: Gradient 8s ease infinite;
   text-decoration: none;
 }
 
 .btn div {
   color: black;
   min-height: 40px;
   padding: 0 1.618em;
   border-radius: inherit;
   background-size: inherit;
   background-image: inherit;
   animation: Gradient 8s ease-in-out infinite;
   position: relative;
   z-index: 1;
   mix-blend-mode: overlay;
   font-family: 'Helvetica Neue';
   
 }
 
 @keyframes Gradient {
   40% {
    background-position: 140% 50%;
    transform: skew(2deg);
   }
   80% {
     background-position: 140% 50%;
     transform: skew(-2deg);
   }
 }
 
 .btn::after {
   content: '';
   position: absolute;
   background-size: inherit;
   background-image: inherit;
   animation: inherit;
   left: 0px;
   right: 0px;
   top: 2px;
   height: 100%;
   filter: blur(1rem);
 }
 